<div class="fullheight">
  <img class="logo" src="{{ cms.home.logo|imageCrop(192, 170) }}"/>
</div>
<div class="menu-div">
<img id="menu-logo" src="{{ cms.home.logomenu|imageCrop(50, 27) }}"/>

  {% set data = cms.noticies %}
  {% set data = data|sort('publish_date', true) %}

<ul>
  <li><a data-role="ajax" href="/tradicioqualitat" id="tradiciolink">{{ cms.tradicioqualitat.name|upper }}</a></li>
  <li><a data-role="ajax" href="/lesnostrescreacions" id="creacionslink">{{ cms.lesnostrescreacions.name|upper }}</a></li>
  <li><a data-role="ajax" href="/noticies" id="noticieslink">{{ cms.noticiespage.name|upper }}</a></li>
  <li><a data-role="ajax" href="/contacta" id="contactalink">{{ cms.contacta.name|upper }}</a></li>
</ul></div>
