{# This template is used for paginations on $content-type/list.html pages #}

{% set curPage = getCurPage() %}
{% set maxPage = getMaxPage() %}

{% if maxPage > 1 %}

<script src="/static/javascript/pager.js"></script>

<ul>
  {% if curPage > 1 %}
  <li><a class="back-page" data-role="ajax" href="{{ getPageUrl(curPage - 1) }}">ENDAVANT</a></li>
  {% endif %}
  {% if curPage < maxPage %}
  <li><a class="next-page" data-role="ajax" href="{{ getPageUrl(curPage + 1) }}">ENDARRERE</a></li>
  {% endif %}
</ul>

{% endif %}
