{% extends "templates/partials/base.html" %}
{% block title %}{% parent %}{% endblock %}
{% block content %}
<div id="contentdiv" class="fullheight contentdiv">
  <div id="contentloader" class="fragment">

    <h1>{{ cms.contacta.name }}</h1>
    {{ cms.contacta.text|safe }}
    <img src="{{ cms.contacta.sabat1image|imageSize(200, 200) }}" />
    {{ cms.contacta.sabat1text }}
    <img src="{{ cms.contacta.sabat2image|imageSize(200, 200) }}" />
    {{ cms.contacta.sabat2text }}


  </div>
</div>
{% endblock %}
