<h1>{{ cms.establiments.name }}<br/></h1>
<p>{{ cms.establiments.sabat1titol }}</p>
<p>{{ cms.establiments.sabat1desc }}</p>
<ul>
  {% for image in cms.establiments.sabat1galeria %}
    <li>
      <img src="{{ image|imageSize(200, 200) }}">
      <div>{{ image.caption }}</div>
    </li>
  {% endfor %}
</ul>
<p>{{ cms.establiments.sabat2titol }}</p>
<p>{{ cms.establiments.sabat2desc }}</p>
<ul>
  {% for image in cms.establiments.sabat2galeria %}
    <li>
      {# You can get the raw image url by accessing image.url #}
      <img src="{{ image|imageSize(200, 200) }}">
      <div>{{ image.caption }}</div>
    </li>
  {% endfor %}
</ul>
