{% extends "templates/partials/base.html" %}
{% block title %}{% parent %}{% endblock %}
{% block content %}
<div id="contentdiv" class="fullheight contentdiv">
  <div id="contentloader" class="fragment">

    <h1>{{ cms.lesnostrescreacions.name }}</h1>
     <ul>
        {% for row in cms.lesnostrescreacions.grid %}
            <li>
              {{ row.nom }}
            </li>
            <li>
              {{ row.text }}
            </li>
            <li>
                <img src="{{ row.image|imageSize(200, 200) }}" />
            </li>
        {% endfor %}
    </ul>

  </div>
</div>
{% endblock %}
