
{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}

<div id="contentdiv" class="fullheight contentdiv">
  <div id="contentloader" class="fragment">

  <h1>{{ item.name }}</h1>
  <ul>
      <li>
        {{ item.publish_date|date('F d Y') }}
      </li>
      <li>
        <img src="{{ item.image|imageSize(200, 200) }}" />
      </li>
      <li>
        {{ item.text|safe }}
      </li>
  </ul>
</div>
</div>
{% endblock %}
